<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @customer.cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>
<br/>
<table border="1" width="350">
<th>Order Name</th><th>Order Price</th><th>Order QTY</th>
<% @customer.orders.each do |my_value| %>
<tr>
	<td><%= my_value.oname %></td><td><%= my_value.oprice %></td><td><%= my_value.oqty %></td>
</tr>
<% end %>
</table>
<br/>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
